/* font-family: 'Roboto', sans-serif; */

.header {
    width: 100%;
    min-height: 60px;
    height: 100%;
    margin: 0 auto;
}
.container_header {
    max-width: 1380px;
    width: 100%;
    min-height: 60px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container_header img {
    max-width: calc(60px + (79 - 60) * ((100vw - 320px) / (1440 - 320)));
}
.item {
    margin-right: 42px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #1C1C1C;
}
.item:last-child {
    margin-right: 0;
}
.btn-demo {
    width: 157px;
    height: 40px;
    border-radius: 20px;
    background-color: #6F2CFF;
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
    line-height: 14px;
    font-weight: 400;
    color: white;
    margin-right: 38px;
}
.login_box a {
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
    line-height: 14px;
    font-weight: 400;
    color: #1C1C1C;
}
.burger_box {
    width: calc(25px + (35 - 25) * ((100vw - 320px) / (1440 - 320)));
    height: calc(21px + (35 - 21) * ((100vw - 320px) / (1440 - 320)));
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.burger_line {
    width: 100%;
    height: 3px;
    background-color: black;
}

@media screen and (max-width: 1200px) {
    .btn-demo {
        width: 130px;
        height: 35px;
    }
}
@media screen and (max-width: 1120px) {
    .header {
        padding: 10px;
    }
    .container_header {
        flex-direction: column;
        border-bottom: 2px solid #6F2CFF;
        padding-bottom: 5px;
    }
    .items {
        margin: 20px;
    }
    .item {
        padding: 5px;
        background-color: #f1d4e1;
        border-radius: 4px;
    }
    .login_box a {
        border-radius: 30px;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 43px;
        padding-right: 43px;background-color: azure;
    }
}
@media screen and (max-width: 837px) {
    .items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80px;
        width: 460px;
        text-align: center;
        justify-content: space-between;
    }
    .item {
        padding: 10px;
        margin: 1px;
        border: 1px solid black;
    }
    .item:last-child {
        display: none;
    }
    .btn-demo {
        width: 120px;
        height: 30px;
        font-size: 11px;
    }
}
@media screen and (max-width: 585px) {
    .item {
        display: none;
    }
    .items {
        height: 0;
        width: 0;
    }
    .container_header {
        flex-direction: row;
    }
    .login_box {
        display: none;
    }
   
    .burger_box {
        display: flex;
    }
}