/* font-family: 'Roboto', sans-serif; */

.section_5 {
    max-width: 100%;
    min-height: 1064px;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_section_5 {
    width: 100%;
    min-height: 125px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_section_5 p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    line-height: 45px;
    color: black;
    margin-bottom: 28px;
}
.title_section_5 p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: black;
}
.img_box_section_5 {
    max-width: 996px;
    width: 100%;
    min-height: 560px;
    height: 100%;
    margin-top: 66px;
}
.button_container_section_5 {
    width: 100%;
    min-height: 52px;
    height: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1_sec_5 {
    width: 189px;
    height: 40px;
    background-color: #6F2CFF;
    color: white;
    border-radius: 30px;
    margin-right: 22px;
}
.btn2_sec_5 {
    width: 189px;
    height: 40px;
    background-color: white;
    color: #6F2CFF;
    border-radius: 30px;
    border: 1px solid rgb(226, 226, 226);
}
@media screen and (max-width:920px) {
    .img_box_section_5 {
        min-height: 400px;
        height: 100%;
    }
}
@media screen and (max-width:745px) {
    .img_box_section_5 {
        min-height: 100px;
        height: 100%;
    }
    .section_5 {
        min-height: 720px;
    }
}
@media screen and (max-width:450px) {
    .btn1_sec_5 {
        width: 160px;
        height: 35px;
        font-size: 13px;
    }
    .btn2_sec_5 {
        width: 160px;
        height: 35px;
        font-size: 13px;
    }
}
@media screen and (max-width:390px) {
    .btn1_sec_5 {
        width: 140px;
        height: 30px;
    }
    .btn2_sec_5 {
        width: 140px;
        height: 30px;
    }
}