/* font-family: 'Roboto', sans-serif; */

.section_12 {
    width: 100%;
    min-height: 162px;
    height: 100%;
    display: flex;
    align-items: center;
}
.container_sec_12 {
    width: 100%;
    min-height: 93px;
    height: 100%;
    text-align: center;
}
.container_sec_12 p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    color: #1C1C1C;
    margin-bottom: 28px;
}
.social_box {
    margin: 0 auto;
    width: 100%;
}
.social_box a {
    margin-right: 30px;
}
.social_box a:last-child {
    margin-right: 0;
}