/* font-family: 'Roboto', sans-serif; */

.section_9 {
    width: 100%;
    min-height: 627px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}
.container_sec_9 {
    max-width: 1260px;
    width: 100%;
    min-height: 567px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title_and_content_box {
    max-width: 610px;
    width: 100%;
    min-height: 305px;
    height: 100%;
    margin-left: calc(60px + (110 - 60) * ((100vw - 320px) / (1440 - 320)));
}
.title_and_content_box p:nth-child(1) {
    font-family: 'Roboto', sans-serif;
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    line-height: 45px;
    color: #17002E;
    margin-bottom: 47px;
}
.title_and_content_box p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: black;
    margin-bottom: 11px;
}
.title_and_content_box p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    color: black;
    margin-bottom: 74px;
}
.btn_sec_9 {
    width: 203px;
    height: 40px;
    border-radius: 30px;
    background-color: #6F2CFF;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
}
.img_box_sec_9 {
    max-width: 567px;
    width: 100%;
    min-height: 567px;
    height: 100%;
}
@media screen and (max-width: 1024px) {
    .container_sec_9 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .title_and_content_box {
        text-align: center;
        margin: 0;
    }
}
@media screen and (max-width:971px) {
    .section_9 {
        margin-top: 50px;
    }
}
@media screen and (max-width:600px) {
    .title_and_content_box p:nth-child(2) {
        width: calc(250px + (350 - 250) * ((100vw - 320px) / (1440 - 320)));
        text-align: center;
    }
    .title_and_content_box p:nth-child(3) {
        width: calc(250px + (350 - 250) * ((100vw - 320px) / (1440 - 320)));
        text-align: center;
    }
    .title_and_content_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:450px) {
    .img_box_sec_9 {
        min-height: 350px;
    }
}