/* font-family: 'Roboto', sans-serif; */

.section_7 {
    width: 100%;
    min-height: 751px;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title_box_section_7 {
    width: 100%;
    min-height: 45px;
    height: 100%;
    text-align: center;
    margin-bottom: 70px;
}
.title_box_section_7 p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    line-height: 45px;
    color: black;
}
.container_content_sec_7 {
    width: 100%;
    min-height: 448px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container_content_sec_7 a {
    transition: all .4s;
}
.container_content_sec_7 a:hover {
    transform: scale(1.3);
}
.block_sec_7 {
    width: 320px;
    height: 438px;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    margin-left: 13px;
    margin-right: 13px;
}
.block_sec_7 a:nth-child(1) {
    margin-bottom: 25px;
}
.block_sec_7 a:nth-child(2) {
    margin-bottom: 25px;
}
.block_sec_7 img:nth-child(2) {
    margin-top: 25px;
}
.block_sec_7 p {
    max-width: 219px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #6F2CFF;
    margin: 0 auto;
}
/* -------------------------------------------------------------------- */
.block_center_sec_7 {
    width: 320px;
    height: 438px;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    margin-left: 33px;
    margin-right: 33px;
}
.block_center_sec_7 p {
    max-width: 219px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #6F2CFF;
    margin: 0 auto;
}
.block_center_sec_7 img:nth-child(1) {
    margin-bottom: 25px;
}
.block_center_sec_7 img:nth-child(2) {
    margin-bottom: 25px;
}

@media screen and (max-width: 1167px) {
    .block_sec_7 {
        display: none;
    }
    .block_center_sec_7 {
        width: 400px;
    }
    .block_center_sec_7 img:nth-child(1) {
        width: 100%;
    }
}
@media screen and (max-width: 544px) {
    .container_content_sec_7 > img:first-child {
        display: none;
    }
    .container_content_sec_7 > img:last-child {
        display: none;
    }
}
@media screen and (max-width:520px) {
    .container_content_sec_7 a {
        display: none;
    }
}
@media screen and (max-width: 345px) {
    .block_center_sec_7 {
        height: 350px;
    }
}