/* font-family: 'Roboto', sans-serif; */

.section_2 {
    max-width: 1440px;
    width: 100%;
    min-height: 204px;
    height: 100%;
    margin: 20px auto;
}
.container_section_2 {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto; 
}
.container_section_2 p:nth-child(1) {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    padding-top: calc(0px + (35 - 0) * ((100vw - 320px) / (1440 - 320)));
}
.labelBox {
    width: 100%;
    min-height: 70px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
}
.labelBox img {
    max-width: calc(65px + (100 - 65) * ((100vw - 320px) / (1440 - 320)));
}
.container_section_2, .container_section_2 > a {
    max-width: 1320px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    line-height: 24px;
    font-weight: 700;
    color: #1C1C1C;
}
.container_section_2 > a {
    border-bottom: 2px solid #6F2DFF;
    padding-bottom: 2px;
    padding-left: 2px;
}
@media screen and (max-width: 650px) {
    .labelBox {
        justify-content: center;
    }
    .labelBox img {
        margin: 5px;
        padding: 5px;
    }
    .section_2 {
        background-color: #f6bed9;
        margin: 0 auto;
    }
    .container_section_2 p:nth-child(1) {
        padding-top: 30px;
    }
}