/* font-family: 'Roboto', sans-serif; */

.section_10 {
    width: 100%;
    min-height: 329px;
    height: 100%;
    background-image: url(../img/background_sec_10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_sec_10 {
    width: 100%;
    min-height: 132px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_sec_10 p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1440 - 320)));
    font-weight: 700;
    line-height: 45px;
    color: white;
}
.form_mail_section_10 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.email_box_10 {
    width: 268px;
    height: 45px;
    border-bottom-left-radius: 27px;
    border-top-left-radius: 27px;
    border: 1px solid #ffffff;
}
.email_box_10::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
    text-align: center;
}
.btn_section_10 {
    width: 187px;
    height: 45px;
    background-color: #6F2CFF;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
}
@media screen and (max-width:600px) {
    .email_box_10 {
        width: 180px;
        height: 35px;
    }
    .btn_section_10 {
        width: 140px;
        height: 35px;
    }
    
}
@media screen and (max-width:450px) {
    .email_box_10 {
        width: 140px;
        height: 30px;
    }
    .btn_section_10 {
        width: 120px;
        height: 30px;
        font-size: 11px;
    }
    .email_box_10::placeholder {
        font-size: 11px;
    }
}